.header {
  width: 100%;
  padding: 20px 0;
  background: #0d0d0d;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
}

.nav a {
  margin-left: 25px;
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.nav a:hover {
  color: #00eaff;
}
